body{
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

*{
  font-family: sans-serif;
}

ul {
  display: inline;
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-radius: 25px;
  border-color:black;
}

li{
  display: inline;
  background-color: black;
}

.hundred{
  padding-top: 50px;
}

article img {
  height: 100px;
  width:150px;
}

#logo{
  position: absolute;
  left: 42%;
  top: 10%;
}

#home{
  background-image: url("/static/images/zelda.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

#histendo-home{
  margin-top: 7vh;
  justify-content: center;
}

#history{
  background-image: url("/static/images/history-wallpaper.jpg");
}

#history-links{
  padding-top: 100px;
}

.games {
  height: 100vh;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.games .logos a {
  text-decoration: none;
}

.games .logos a:visited {
  color: black;
}

.logos{
  display: flex;
  justify-content: space-between;
  margin-top: 500px;
  border: 5px solid black;
  border-radius: 25px;
  padding: 50px;
  text-decoration: none;
}

.year {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.year a{
  text-decoration: none;
}

#zelda-timeline {
  background-image: url("/static/images/history.jpg");
  padding: 150px;
}

#totk {
  background-image: url("/static/images/totk.jpg");
}

#botw {
  background-image: url("/static/images/botw.jpg");
}

#skyward {
  background-image: url("/static/images/skyward1.jpg");
}

#twilight {
  background-image: url("/static/images/twilight.jpg");
}

#windwaker {
  background-image: url("/static/images/windwaker.jpg");
}

#majora {
  background-image: url("/static/images/majora.jpg");
}

#ocarina {
  background-image: url("/static/images/ocarina.jpg");
}

#past {
  background-image: url("/static/images/past.jpg");
}

#original {
  background-image: url("/static/images/original.jpg");
}

#mario-timeline{
  background-image: url("/static/images/mario-history.jpg");
  padding: 150px;
}

#odyssey{
  background-image: url("/static/images/odyssey.jpg");
}

#galaxy2{
  background-image: url("/static/images/galaxy2.jpg");
}

#galaxy{
  background-image: url("/static/images/galaxy.jpg");
}

#world3d{
  background-image: url("/static/images/world3d.jpg");
}

#sunshine{
  background-image: url("/static/images/sunshine.jpg");
}

#sixtyfour{
  background-image: url("/static/images/64.jpg");
}

#world{
  background-image: url("/static/images/world.jpg")
}

#bros {
  background-image: url("/static/images/bros.jpg")
}

#sign-up{
    text-align: center;
}

#history-nav{
  text-align: left;
  width: 100%;
  position: fixed;
  top: 50px;
  background-color: red;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);

}

#main-nav {
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #090909;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

#main-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

#main-nav a:hover {
  color: #c1c1c1;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}

a:active {
  color: blue;
}

nav a.active {
  color: #1e1e1e;
  background: white;
}

.nav-hidden {
  display: none;
}


@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}