<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forumstyle.css') }}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>

    <div id="main-nav">
        <nav>
          <ul>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('zelda_history') }}">History</a>
            <a href="{{ url_for('forum') }}">Forum</a>
            {% if session["is_logged_in"] == Null %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
            {% if session["is_logged_in"] == True %}
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Log out</a>
            {% endif %}
          </ul>
        </nav>
      </div>

    {% block main %}
    {% endblock %}

</body>
</html>