{% extends "forumbase.html" %}

{% block main %}
    <div class="subforum">
    <h2>{{ threads[1] }}</h2>
    {% for post in posts %}
      {% if post[2] == threads[0] %}
      <p class="post">Posted by: {{ post[7] }} <br>
      {{ post[4] }}</p>
      {% endif %}
    {% endfor %}
  </div>

  {% if session["is_logged_in"] == True %}
  <form class="subforum" action="{{ url_for('reply', subforum_id=subforum_id, thread_id=thread_id) }}" method="POST">
    <input id="reply" name="reply" placeholder="Reply">
    <input type="hidden" name="subforum_id" value="{{ subforum_id }}">
    <input type="hidden" name="thread_id" value="{{ thread_id }}">
    <button type="submit">Reply</button>
  </form>
  {% endif %}

{% endblock %}