{% extends "historybase.html" %}

{% block main %}

    <article class="games" id="zelda-timeline">
      <section class="logos">
      <a href="#original"><img src="{{ url_for('static', filename='images/original-logo.jpg') }}" alt="original logo" width="100">
      <span class="year">1986</span></a>

      <a href="#past"><img src="{{ url_for('static', filename='images/past-logo.jpg') }}" alt="link to the past logo" width="85">
      <span class="year">1991</span></a>

      <a href="#ocarina"><img src="{{ url_for('static', filename='images/ocarina-logo.jpg') }}" alt="ocarina of time logo" width="100">
      <span class="year">1998</span></a>

      <a href="#majora"><img src="{{ url_for('static', filename='images/majora-logo.jpg') }}" alt="majora logo" width="100">
      <span class="year">2000</span></a>

      <a href="#twilight"><img src="{{ url_for('static', filename='images/twilight-logo.jpg') }}" alt="twilight princess logo" width="100">
      <span class="year">2006</span></a>

      <a href="#windwaker"><img src="{{ url_for('static', filename='images/windwaker-logo.jpg') }}" alt="wind waker logo" width="100">
      <span class="year">2002</span></a>

      <a href="#skyward"><img src="{{ url_for('static', filename='images/skyward-logo.jpg') }}" alt="skyward sword logo" width="100">
      <span class="year">2011</span></a>

      <a href="#botw"><img src="{{ url_for('static', filename='images/botw-logo.jpg') }}" alt="botw logo" width="100">
      <span class="year">2016</span></a>
    </section>
    </article>

  <div class="logo-container">

  <section class="fullscreen-bg games" id="totk">
  </section>

  <section class="games" id="botw">
  </section>

  <section class="games" id="skyward">
  </section>

  <section class="games" id="twilight">
  </section>

  <section class="games" id="windwaker">
  </section>

  <section class="games" id="majora">
  </section>

  <section class="games" id="ocarina">
  </section>

  <section class="games" id="past">
  </section>

  <section class="games" id="original">
  </section>
  </div>

{% endblock %}